<h1>投稿内容一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @notes.each do |note| %>
  <tr>
    <td><%= note.content %></td>
    <td><%= link_to "投稿内容を編集する", edit_note_path(note.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to '新しくブログを投稿する', new_note_path %>
